@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F5;
}


.intro::after{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0px;
  background-color: black;
  left: 0;
  margin-top: 18px;
  animation-name: lineanime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation-fill-mode: backwards; */
  animation-direction: alternate;
}

@media screen and (min-width:0px) and (max-width:750px) {
  
@keyframes lineanime {
  0%{
    width: 0;
    left: 4px;
  }  
  50%{
    width: 75%;
    left: 4px;
  }
  100%{
    width: 0;
    left: 75%;
  }
}
}
@media screen and (min-width:750px) {
@keyframes lineanime {
  0%{
    width: 0;
    left: 0;
  }  
  50%{
    width: 52%;
    left: 0;
  }
  100%{
    width: 0;
    left: 52%;
  }
} 
}
 